.main-content .products h2, .aside-blocks .aside-banner h2, .aside-blocks .form h2 {
  text-transform: uppercase;
  color: #635F57;
  font-weight: normal;
  font-size: 24px; }

.main-content {
  display: flex; }
  .main-content .products {
    float: left; }
    .main-content .products h2 {
      max-width: 500px; }
    .main-content .products .featured-products {
      max-width: 760px;
      height: 1018px;
      margin-top: -5px;
      margin-bottom: 25px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
    .main-content .products .featured-products .product-1, .main-content .products .staff-pick .product-1, .main-content .products .new-products .product-1 {
      width: 234px;
      height: 318px;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
      padding-top: 8px;
      padding-left: 8px;
      position: relative; }
      .main-content .products .featured-products .product-1 .product-background, .main-content .products .staff-pick .product-1 .product-background, .main-content .products .new-products .product-1 .product-background {
        width: 218px;
        height: 228px;
        background-color: #EFF1F0;
        position: relative;
        margin-bottom: 10px; }
      .main-content .products .featured-products .product-1 .product-background:before, .main-content .products .staff-pick .product-1 .product-background:before, .main-content .products .new-products .product-1 .product-background:before {
        content: '';
        background-image: url("../img/png/5a3289df3d448160556a9013.png");
        width: 200px;
        height: 120px;
        position: absolute;
        top: 30px;
        left: 8px;
        background-size: cover; }
      .main-content .products .featured-products .product-1 .new, .main-content .products .staff-pick .product-1 .new, .main-content .products .new-products .product-1 .new {
        text-transform: uppercase;
        position: absolute;
        color: #ffffff;
        font-size: 15px;
        top: 11px;
        right: 8px;
        transform: rotate(45deg);
        z-index: 1; }
      .main-content .products .featured-products .product-1 .sale, .main-content .products .staff-pick .product-1 .sale, .main-content .products .new-products .product-1 .sale {
        text-transform: uppercase;
        position: absolute;
        color: #ffffff;
        font-size: 15px;
        top: 11px;
        left: 8px;
        transform: rotate(315deg);
        z-index: 1; }
      .main-content .products .featured-products .product-1 a, .main-content .products .staff-pick .product-1 a, .main-content .products .new-products .product-1 a {
        padding-left: 4px;
        font-size: 14px;
        color: #464148; }
      .main-content .products .featured-products .product-1 .price, .main-content .products .staff-pick .product-1 .price, .main-content .products .new-products .product-1 .price {
        padding-left: 4px;
        font-size: 18px;
        color: #7DB122; }
      .main-content .products .featured-products .product-1 .old-price, .main-content .products .staff-pick .product-1 .old-price, .main-content .products .new-products .product-1 .old-price {
        font-size: 14px;
        color: #464148;
        padding-left: 4px;
        margin-right: -4px;
        text-decoration: line-through; }
      .main-content .products .featured-products .product-1 .buy, .main-content .products .staff-pick .product-1 .buy, .main-content .products .new-products .product-1 .buy {
        width: 47px;
        height: 47px;
        position: absolute;
        right: 12px;
        bottom: 25px;
        background-image: url("../img/png/sprite.png");
        background-position: -237px -3px; }
      .main-content .products .featured-products .product-1 .buy:hover, .main-content .products .staff-pick .product-1 .buy:hover, .main-content .products .new-products .product-1 .buy:hover {
        transform: scale(1.1);
        transition: 1s; }
      .main-content .products .featured-products .product-1 .mark-new-2:after, .main-content .products .staff-pick .product-1 .mark-new-2:after, .main-content .products .new-products .product-1 .mark-new-2:after {
        content: '';
        position: absolute;
        width: 5px;
        height: 4px;
        -webkit-clip-path: polygon(60% 20%, 0% 100%, 100% 100%);
        clip-path: polygon(60% 20%, 0% 100%, 100% 100%);
        background-color: #4CB1CA;
        z-index: 1;
        right: -12px;
        top: 59px;
        transform: rotate(90deg); }
      .main-content .products .featured-products .product-1 .mark-sale-2:after, .main-content .products .staff-pick .product-1 .mark-sale-2:after, .main-content .products .new-products .product-1 .mark-sale-2:after {
        content: '';
        position: absolute;
        width: 5px;
        height: 4px;
        -webkit-clip-path: polygon(60% 20%, 0% 100%, 100% 100%);
        clip-path: polygon(60% 20%, 0% 100%, 100% 100%);
        background-color: #7DB122;
        z-index: 1;
        left: -12px;
        top: 59px;
        transform: rotate(270deg); }
    .main-content .products .featured-products .mark-new:before, .main-content .products .staff-pick .mark-new:before, .main-content .products .new-products .mark-new:before {
      content: " ";
      position: absolute;
      width: 206px;
      height: 190px;
      -webkit-clip-path: polygon(38% 86%, 62% 86%, 75% 100%, 25% 100%);
      clip-path: polygon(38% 86%, 62% 86%, 75% 100%, 25% 100%);
      background-color: #4CB1CA;
      z-index: 1;
      right: -137px;
      top: -129px;
      transform: rotate(45deg); }
    .main-content .products .featured-products .mark-new:after, .main-content .products .staff-pick .mark-new:after, .main-content .products .new-products .mark-new:after {
      content: "";
      position: absolute;
      width: 5px;
      height: 4px;
      -webkit-clip-path: polygon(40% 20%, 0% 100%, 100% 100%);
      clip-path: polygon(40% 20%, 0% 100%, 100% 100%);
      background-color: #4CB1CA;
      z-index: 1;
      right: 66px;
      top: -3.5px; }
    .main-content .products .featured-products .mark-sale:before, .main-content .products .staff-pick .mark-sale:before, .main-content .products .new-products .mark-sale:before {
      content: " ";
      position: absolute;
      width: 206px;
      height: 190px;
      -webkit-clip-path: polygon(38% 86%, 62% 86%, 75% 100%, 25% 100%);
      clip-path: polygon(38% 86%, 62% 86%, 75% 100%, 25% 100%);
      background-color: #7DB122;
      z-index: 1;
      left: -137px;
      top: -129px;
      transform: rotate(315deg); }
    .main-content .products .featured-products .mark-sale:after, .main-content .products .staff-pick .mark-sale:after, .main-content .products .new-products .mark-sale:after {
      content: "";
      position: absolute;
      width: 5px;
      height: 4px;
      -webkit-clip-path: polygon(0% 100%, 40% 20%, 100% 100%);
      clip-path: polygon(0% 100%, 40% 20%, 100% 100%);
      background-color: #7DB122;
      z-index: 1;
      left: 66px;
      top: -3.5px; }
    .main-content .products .staff-pick, .main-content .products .new-products {
      max-width: 762px;
      height: 320px;
      margin-top: -5px;
      margin-bottom: 45px;
      display: flex;
      justify-content: space-between; }
    .main-content .products .aside-blocks {
      float: left; }

.aside-blocks .aside-banner {
  max-width: 235px;
  height: 447px;
  margin-top: 30px;
  margin-left: 28px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  border-top: 4px solid #4CB1CA;
  padding: 15px;
  position: relative; }
  .aside-blocks .aside-banner h2 {
    max-width: 207px;
    padding: 0;
    margin: 0px;
    text-align: center; }
  .aside-blocks .aside-banner .check {
    width: 132px;
    height: 44px;
    background-color: #4CB1CA;
    position: absolute;
    z-index: 1;
    left: 52px;
    bottom: 30px;
    color: #ffffff;
    font-size: 14px;
    font-family: inherit; }
  .aside-blocks .aside-banner .aside-slider .aside-item a img {
    height: 346px; }
  .aside-blocks .aside-banner .aside-slider .slick-dots li {
    position: relative;
    display: inline-block;
    width: 11px;
    height: 11px;
    margin-left: 8px; }
    .aside-blocks .aside-banner .aside-slider .slick-dots li button {
      width: inherit;
      height: inherit;
      color: transparent; }
    .aside-blocks .aside-banner .aside-slider .slick-dots li button:before {
      content: "";
      width: inherit;
      height: inherit;
      background-color: #7DB122;
      border-radius: 50%;
      top: 30px;
      left: 73px;
      position: absolute; }
  .aside-blocks .aside-banner .aside-slider .slick-dots li.slick-active button:before {
    content: "";
    background-color: #00B3CC; }

.aside-blocks .dots {
  width: 235px;
  height: 40px;
  margin-top: 0;
  margin-left: 28px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1); }

.aside-blocks .form {
  max-width: 235px;
  height: 281px;
  margin-top: 30px;
  margin-left: 28px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  border-top: 4px solid #4CB1CA;
  padding: 5px; }
  .aside-blocks .form h2 {
    width: 235px;
    text-align: center;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 0; }
  .aside-blocks .form p {
    font-size: 14px;
    color: #464148;
    text-align: center; }
  .aside-blocks .form hr {
    width: 85px;
    opacity: 0.3; }
  .aside-blocks .form form input {
    margin-left: 20px;
    margin-top: 5px; }
  .aside-blocks .form form input[type="email"] {
    width: 186px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1); }
  .aside-blocks .form form input[type="submit"] {
    width: 112px;
    height: 44px;
    margin-left: 58px;
    margin-top: 15px;
    border: 0;
    background-color: #7DB122;
    font-family: inherit;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer; }
