footer  
    div.bg-1
        div.top-footer.content
            div.free-shipping
                span.shipping Free shipping on orders over $100
            div.call-us
                span.call call us! toLl free- 409-8888-0099
    div.bg-2
        div.main-footer.content
            div.facebook
                h3 Facebook
                span.members 20000 Members
                br
                button.like
                hr
                div.friends
                    div.photo-1
                    div.photo-2
                    div.photo-3
                    div.photo-4
                    div.photo-5
                    div.photo-6
                    div.photo-7
                    div.photo-8
                span <hr>facebook Social plugin
            div.twitter
                h3 From twitter
                button.twit 
                p Lorem Ipsum is simply dummy text of the printing and <span class="blue-text"> typesetting industry. Lorem Ipsum</span> has been the
                button.twit
                p Lorem Ipsum is simply dummy text of the printing and <span class="blue-text"> typesetting industry. Lorem Ipsum</span> has been the
            div.info
                h3 information
                ul
                    li Sed ultrices purus non.
                    li sodales sodales.
                    li Curabitur pretium dui vitae.
                    li Donec gravida mi in nisl 
                    li faucibus leo condimentum.
                    li Donec et lorem suscipit.
            div.contact-us
                h3 Contact Us
                ul
                    li Leo Store
                    li Leopards media
                    li KVM Rpad, 4590GH
                    li +1 489-8888-0099
                    li mail@email.com
                hr
                button.google
                    a(href="#")
                button.lnkd
                    a(href="#")
                button.wf
                    a(href="#")
                button.fc
                    a(href="#")
    div.bg-3
        div.bottom-footer.content
            span.copy Copyright 2013 Css Author, All Rights Reserved.
            div.footer-right-list
                ul
                    li
                        a(href="#") About Us
                    li
                        a(href="#") Delivery & Returns
                    li
                        a(href="#") Terms & Conditions
                    li
                        a(href="#") Contact Us