head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Leo Shop
    link(rel="stylesheet", href="css/main.css")
    link(rel="stylesheet", href="js/libs/slick-1.8.1/slick-1.8.1/slick/slick.css")