div.bg
    div.top-header.content
        div.lang-cur
            div.lang-cut-it
                span Language:
                button English
            div.lang-cut-it
                span Currency:
                button USD
        div.right-list
            ul
                li
                    a(href="#") Account
                li
                    a(href="#") Wishlist
                li
                    a(href="#") Chekout
                li
                    a(href="#") Log In
                li
                    a(href="#") Sign Up
ul.drop-list.hidden
        li
            a(href="#") women
        li
            a(href="#") men
        li
            a(href="#") other
        li
            a(href="#") purchase
        li
            a(href="#") Account
        li
            a(href="#") Wishlist
        li
            a(href="#") Chekout
        li
            a(href="#") Log In
        li
            a(href="#") Sign Up
div.bottom-header.content
    button.mob-btn
    a(href="#").logo LEO Shop
    nav
        ul
            li
                a(href="#") Home
            li
                a(href="#") women
            li
                a(href="#") men
            li
                a(href="#") other
            li
                a(href="#") purchase
    div.carts Cart (0)
    button.carts-logo1
    button.carts-logo2
    button.carts-logo3
    form.main-search
        input(type="search" placeholder="Search..")
        button
    form.main-search-mob.hidden2
        input(type="search" placeholder="Search..")
        button
    