div.main-content.content
    div.products
        h2 Featured Products
        div.featured-products
            div.product-1.mark-new
                div.product-background.mark-new-2
                span.new new
                a(href="#") Lorem Ipsum is simply.
                br
                span.price $388.00
                button.buy
            div.product-1
                div.product-background
                a(href="#") Nullam vestibulum.
                br
                span.price $90.00
                button.buy
            div.product-1.mark-sale
                div.product-background.mark-sale-2
                span.sale sale
                a(href="#") Donec et lorem suscipit.
                br
                span.old-price $460.00
                span.price $300.00
                button.buy
            div.product-1
                div.product-background
                a(href="#") Lorem Ipsum is simply.
                br
                span.price $388.00
                button.buy
            div.product-1.mark-new
                div.product-background.mark-new-2
                span.new new
                a(href="#") Lorem Ipsum is simply.
                br
                span.price $388.00
                button.buy
            div.product-1
                div.product-background
                a(href="#") Lorem Ipsum is simply.
                br
                span.price $388.00
                button.buy
            div.product-1.mark-new
                div.product-background.mark-new-2
                span.new new
                a(href="#") Lorem Ipsum is simply.
                br
                span.price $388.00
                button.buy
            div.product-1.mark-sale
                div.product-background.mark-sale-2
                span.sale sale
                a(href="#") Etiam egestas velit.
                br
                span.old-price $460.00
                span.price $200.00
                button.buy
            div.product-1.mark-new
                div.product-background.mark-new-2
                span.new new
                a(href="#") Lorem Ipsum is simply.
                br
                span.price 788.00
                button.buy
        h2 Staff pick
        div.staff-pick
            div.product-1.mark-new
                div.product-background.mark-new-2
                span.new new
                a(href="#") Lorem Ipsum is simply.
                br
                span.price $658.00
                button.buy
            div.product-1
                div.product-background
                a(href="#") Lorem Ipsum is simply.
                br
                span.price $178.00
                button.buy
            div.product-1.mark-new
                div.product-background.mark-new-2
                span.new new
                a(href="#") Lorem Ipsum is simply.
                br
                span.price $780.00
                button.buy
        h2 New Products
        div.new-products
            div.product-1.mark-new
                div.product-background.mark-new-2
                span.new new
                a(href="#") Lorem Ipsum is simply.
                br
                span.price $710.00
                button.buy
            div.product-1.mark-new
                div.product-background.mark-new-2
                span.new new
                a(href="#") Lorem Ipsum is simply.
                br
                span.price $998.00
                button.buy
            div.product-1.mark-new
                div.product-background.mark-new-2
                span.new new
                a(href="#") Lorem Ipsum is simply.
                br
                span.price $300.00
                button.buy
    div.aside-blocks
        aside.aside-banner
            h2 Featured<br>Glass
            button.check Check it Out
            div.aside-slider
                div.aside-item
                    a(href="")
                        img(src="img/png/Untitled-1.png", alt="")
                div.aside-item
                    a(href="")
                        img(src="img/png/Untitled-1.png", alt="")
                div.aside-item
                    a(href="")
                        img(src="img/png/Untitled-1.png", alt="")
        aside.dots
        aside.form
            h2 newsletters<br>signup
            p Lorem ipsum dolor sit amen, dolor imun ra adlip
            hr
            form
                input(type="email")
                input(type="submit" value="Subscribe")

