div.main-slider
    div.aluminium ALUMINUm CLUB
    div.ray
        a(href="#") Experience Ray-Ban
    div.slider
        div.slider-item
            a(href="#")
            img(src="img/jpg/slider.jpg", alt="")
        div.slider-item
            a(href="#")
            img(src="img/jpg/slider.jpg", alt="")
        div.slider-item
            a(href="#")
            img(src="img/jpg/slider.jpg", alt="")
script(src="js/libs/jquery.js")
script(src="js/libs/slick-1.8.1/slick-1.8.1/slick/slick.min.js")
script(src="js/main.js")